extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/", method="POST")
    input(name="email_submitted", type="email", placeholder="Enter your email adress")
    button(type="submit") Submit

  if emails
    h1 Emails
    for email in emails
      p(id=email.id)
        span #{email.email}
        |  
        a(href="/email/" + email.id) Details
        |  
        button(onclick=`deleteLead('${email.id}')`) Delete
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(src='/javascripts/emails.js')